/FVLIW.db_info
/FVLIW.root_partition.cmp.ammdb
/FVLIW.root_partition.cmp.cdb
/FVLIW.root_partition.cmp.dfp
/FVLIW.root_partition.cmp.hdb
/FVLIW.root_partition.cmp.logdb
/FVLIW.root_partition.cmp.rcfdb
/FVLIW.root_partition.map.cdb
/FVLIW.root_partition.map.dpi
/FVLIW.root_partition.map.hbdb.cdb
/FVLIW.root_partition.map.hbdb.hb_info
/FVLIW.root_partition.map.hbdb.hdb
/FVLIW.root_partition.map.hbdb.sig
/FVLIW.root_partition.map.hdb
/FVLIW.root_partition.map.kpt
/FVLIW.rrp.hdb
