/FVLIW.asm.rpt
/FVLIW.cdf
/FVLIW.done
/FVLIW.eda.rpt
/FVLIW.fit.rpt
/FVLIW.fit.smsg
/FVLIW.fit.summary
/FVLIW.flow.rpt
/FVLIW.jdi
/FVLIW.map.rpt
/FVLIW.map.summary
/FVLIW.pin
/FVLIW.sld
/FVLIW.sof
/FVLIW.sta.rpt
/FVLIW.sta.summary
/main.sv.bak
